@use '../../assets/styles/mixins' as mixin;

.footer {
    background-color: var(--bc);
    box-shadow: var(--box-shadow2);
    color: var(--text-color);



    p {
        color: var(--primary);
        @include mixin.xs {
            font-size: 10px;
        }
        @include mixin.sm {
            font-size: 12px;
        }

        a {
            font-size: 10px;
            text-decoration: none;
            color: var(--primary);
        }

    }
}