@use "../../../../assets/styles/mixins.scss" as mixin;

.hiddenContainer {
    display: none;
}

.containerContact {
    width: 50%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
    font-family: var(--font-family2);
    line-height: 1.8;
    @include mixin.xs {
        width: 80%;
    }
}


.titleMail {
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 10px 10px 0 0;
    background-color: var(--bc2);

    h3{
        color: var(--secundary);
    }
    input{
        width: 50%;
    }
    .iconMail{
        color: var(--primary);
    }
}

.sendButton{
    background-color: var(--bc2);
    border-radius: 0 0 30px 30px;
    padding: 0.4rem 2rem 1rem  2rem ;
    font-size: 18px;
    font-family: var(--font-family2);
}

.title {
    text-align: center;
    padding: 30px 0;
    background-color: var(--bc2);
    box-shadow: var(--box-shadow);
    color: var(--primary);
    cursor: pointer;
    font-family: var(--ff3);

    &:hover {
        rotate: 1deg;
        font-size: 35px;
    }
}