:root {
    --primary: #e6b85bcd;
    --secundary: #614d29cd;
    --gray-1: #F4FBF4;
    --gray-2: #7f8c8d;
    --red: #eb553a65;
    --light-grey: #ecf0f1;
    --text-color: #2c3e50;
    --color-logo: #a5cd78;
    --bc: #354a4d;
    --bc2: #e9f2ec;
    --bct: #d9e1cecb;
    --error: #FFA6A6;
    --divider: #16a085;
    --divider2: #02100e3b;
    --font-family: 'Patrick Hand', cursive;
    --font-family2: 'Roboto Mono', monospace;
    --box-shadow: 0 1px 2px 0 #cad0cb, 0 1px 3px 1px #cad0cb;
    --box-shadow-nav: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    --box-shadow4: 0 1px 2px 0 #a4c395, 0 1px 3px 1px #a4c395;
}